html body{
  width: 100%;
}
.container{
  width: 100% !important;
}
/*div{
  border:1px solid;
}*/
h5{
  text-align: center;
}
.fila{
  padding-top: 3%;
  padding-bottom: 3%;
  background: #f5514e;
}
.menu{
  padding-top: 2%;
  background: #EEF5FB;
  padding-bottom: 1%;
}
.letra{
  font-size: 35px;
  color:white;
}
.imagen{
  height: 60px;
}
.imagen2{
  padding-top: 5%;
}
.Tablet{
  text-align: center;
}
.Logo{
  text-align: center;
}
.sombra{
  /*box-shadow: 0px 0px 0px 12px rgba(96,51,56,0.82);*/
  border-radius: 19px;
  width: 500px;
}
.glyphicon-play{
  font-size:25px;
  padding-left: 9%;
  color: #EEF5FB;
}
.iconos{
  padding-top: 7%;
  padding-bottom: 3%;
}
.boton{
  width: 150px;
  text-align: center;
  padding:5%;
}
#learn{
  border: 2px solid #EEF5FB;
  margin-left: auto;
  margin-right: auto;
  border-radius: 13px;
}
#join{
  background: black;
  color:#f5514e;
  margin-left: auto;
  margin-right: auto;
  border-radius: 13px;
  border:2px solid black;
}
.botones{
  align-items: center;
  font-size: 20px;
}
.Menu{
  font-family: 'Abel', sans-serif;
  font-size: 23px;
}
#Titulo{
  color:#0881A3;
  font-size: 30px;
  font-family: 'Abel', sans-serif;
}
iframe{
  margin-left: 20px;
}
.icono{
  height: 110px;
  width:110px;
  border-radius:50%;
  /*border: 1px solid;*/
  text-align: center;
}
.logos{
  margin-top: 35px;
  font-size: 40px;
  color: white;
}
#icono1{
  background-color: #CB4755;
}
#icono2{
  background-color: #4CD3C9;
}
#icono3{
  background-color: #68CD84;
}
#icono4{
  background-color: #979491;
}
#icono5{
  background-color:	#FDD882;
}
.verde{
  background-color: #5FD47C;
  color: white;
  font-family: 'Abel', sans-serif;
  font-size:18px;
}
.verde2{
  font-size: 20px;
}
.inciso{
  font-size: 30px;
}
#plans{
  font-family: 'Abel', sans-serif;
  margin-left: 20px;
}
.plans2{
  font-size: 20px;
  margin-left: 20px;
}
.planes{
  background-color: #2D2D2D;
  color: white;
  font-family: 'Muli', sans-serif;
  border-radius: 20px;
  box-shadow: 0px 14px 0px 0px #4CD3C9;
}
.planes2{
  margin-left: 20px;
  font-size: 40px;
  margin-right: 392px;
}
.glyphicon-cloud-upload{
  font-size: 40px;
  margin-top: 15px;
}
.glyphicon-ok{
  font-size: 30px;
  margin-left: 50px;
}
.precio{
  margin-left: 60px;
  font-size: 50px;
}
#select{
  width: 195px;
  height: 40px;
  background-color: #4CD3C9;
  margin-top: 25px;
  border-radius: 25px;
  text-align: center;
  padding: 2%;
}
.this{
  font-size: 20px;
}
a{
  text-decoration: none !important;
}
a:hover{
  color: black !important;
}
.contact{
  background-color: #2E3740;
}
.contac{
  color: white;
}
.contacinfo{
  color: white;
  font-size: 18px;
}
.glyphicon-envelope{
  color: white;
  font-size: 27px;
}
.glyphicon-home{
  color: white;
  font-size: 27px;
}
.ultimo{
  color: white;
  font-size: 18px;
  border-right: 1px solid white;
}
#contac{
  color: white;
  font-size: 18px;
}
#ultimo2{
  margin-right: -16px;
}
.otraparte{
  border-left: 1px solid white;
}
input{
  width: 300px;
  height: 30px;
  border-radius: 7px;
  background-color: #727B8A;
  border: none;
}
#input{
  width: 400px;
  height: 100px;
  border-radius: 7px;
  background-color: #727B8A;
  border: none;
}
.submit{
  height: 34px;
  width: 130px;
  background-color: #CE5C6F;
  text-align: center;
  border-radius: 10px;
  color: white;
  padding-top: 0.5%;
  font-size: 20px;
}
#maps{
  width: 100%;
}
.copyright{
  background-color: #2E3740;
  text-align: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
